body{
text-align: center;
background: linear-gradient(#ff0000,#00fff2,#ff1100);
}
#img{
width: 250px;
}
#p{
font-size: 35px; 
font-weight: bold;
font-family: Comic Sans Ms;
}
h1{
font-size: 50px;
}
#p1{
font-size: 30px;
}
body{
background-color: 
}